<div class="h-screen overflow-hidden">
  <app-header class="sticky top-0"></app-header>

  <div class="grid grid-cols-12 h-auto">
    <div class="col-span-2 bg-blue-200 º">
      <app-left-menu></app-left-menu>
    </div>
    <div class="border col-span-10 container">
      <div
        class="flex flex-wrap align-middle pb-16 top-1/2 h-screen overflow-scroll items-center justify-center w-full"
        (scroll)="onDivScroll($event)"
      >
        @for (item of data ; track $index) {
        <div
          class="border border-black p-2 align-middle text-center w-60 h-64 cursor-pointer m-1 items-center"
          (click)="onClick(item.name)"
        >
          <img
            src="{{ urlImg + ($index + 1) }}.png"
            class="block m-auto h-40"
          />
          <p class="m-2">{{ item.name }}</p>          
          <div>
            <img
              
              src=""
              alt=""
              class="block m-auto h-4"
            />
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
