<ul class="w-48 bg-gray-200 h-screen fixed">
  <li class="border-b">
    <a href="../../examples" class="block py-4 px-6 text-black hover:bg-gray-400">Types</a>
  </li>
  <li class="border-b">
    <a href="../../examples" class="block py-4 px-6 text-black hover:bg-gray-400"></a>
  </li>
  <li class="border-b">
    <a href="../../examples" class="block py-4 px-6 text-black hover:bg-gray-400">CC</a>
  </li>
  <li>
    <a href="../../examples" class="block py-4 px-6 text-black hover:bg-gray-400">DD</a>
  </li>
</ul>
